
@font-face {
    font-family: gilroy;
    src: url(./Assets/Fonts/Gilroy-Light.otf);
}
@font-face {
    font-family: gilroy-bold;
    src: url(./Assets/Fonts/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: Mazius-Extraitalic;
    src: url(./Assets/Fonts/Mazius-Extraitalic.121a71a7.otf);
}

/* Global Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

/* Layout */
html , body {
    width: 100%;
    height: 100%;
    background-color: #FCFAF8;
}

main {
    width: 100%;
    position: relative;
}

.loader_wrapper{
    width: 100%;
    height: 100vh; 
    position: relative;
    background-color: #14CF93;
}

.loader{
    width: 100%;
    height: 100%;
    z-index: 10;
    color: white;
    position: fixed;
    background-color: black;
}

.loader .topHeading {
    top:5%;
    left:50%;
    font-size: 1vw;
    font-weight: 300;
    position: absolute;
    transform: translate(-50% , 0);
}

.loader h1{
    top:45%;
    left:50%;
    width: 100%;
    display: flex;
    font-size: 5vw;
    font-weight: 700;
    position: absolute;
    justify-content: center;
    transform: translate(-50% , -50%);
}

.reveal_up .parentSpan {
    display: flex;
    overflow: hidden;
    justify-content: center;
}

.reveal_up .childSpan{
    display: block;
}

.childSpan > span {
    display: inline-block;
}

.childSpan > span.green{
    color: #14CF93;
    font-family: Mazius-Extraitalic;
}

span.green::first-letter{
    font-size: 6vw;
}

.topHeading{
    text-align: center;
    text-transform: uppercase;
}

/* Animation */
.green_screen{
    width: 100%;
    top: 100%;
    height: 0vh;
    z-index: 2;
    position: absolute;
    background-color: #14CF93;
}

#home_page{
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #FCFAF8;
}

.header{
    padding: 6vh 4vw;
    font: 1.2vw 300 gilroy, Arial, "Noto Sans", sans-serif;
}

.header_holder{
    display: flex;
}

.site-offser--left{
    width: 25%;
}

.header__brand > a {
    color: #383838;
    font-size: 2.5vw;
    font-weight: 800;
    text-decoration: none;
}

.site-offset--right{
    width: 75%;
    color: #383838;
    font-weight: 600;
    display: inherit;
    justify-content: space-between;
}

.inline-list__items{
    margin-right: 1vw;
    position: relative;
    display: inline-block;
}

.inline-list__items:after{
    content: "";
    left: 0%;
    bottom: -50%;
    width: 0%;
    height: 1.5px;
    position: absolute;
    background:#14CF93; 
    transition: all cubic-bezier(0.42, 0, 0.58, 1.0) 0.4s;
    /* Slower transition */
    transition-delay: .2s; 
}

.inline-list__items::before{
    content: "";
    right: 0%;
    bottom: -50%;
    width: 100%;
    height: 1.5px;
    position: absolute;
    background: #14CF93;; 
    transition: all cubic-bezier(0.42, 0, 0.58, 1.0) 0.4s; 
}

.inline-list__items:hover:after{
   width: 100%;
}

.inline-list__items:hover::before{
    width: 0%;
}

.list__link{
    color: #383838;
    font-weight: 600;
    text-decoration: none;
}

.arrow{
    left: 5%;
    bottom: 20%;
    position: absolute;
}

.svg-visual > svg {
    height: 10vw;
}

path , polyline {
    stroke: #14CF93;
}

.row{
    display: flex;
    line-height: 1;
    margin-top: 2vh;
    padding: 0vw 3vw;
    position: relative;
    align-items: center;
}

.row2_content{
    display: flex;
    margin-left: 10vw;
    align-self: center;
   
}

.row h1{
    color: #383838;
    font-size: 12vw;
}

.imagery{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5vw 4vw;
    margin-top: 17vw;
    background-color: #FCFAF8;
}

.left_container{
    width: 30%;
    height: auto;
    margin-top: -10vw;
}

.left_container h1 {
    color: #383838;
    font-size: 2.5vw;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.left_container h1 span{
    color: #14CF93;
    text-transform: none;
    font-weight: 300;
    font-family: Mazius-Extraitalic;
}

.right_container{
    z-index: 2;
    width: 60%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 5vw;
}

.imgContainer{
    top: 50%;
    left: 50%;
    width: 30vw;
    height: 45vw;
    position: absolute;
    border-radius: 1vw;
    filter: grayscale() drop-shadow(10px 10px 10px #000000c9) ;
    background-size: cover;
    background-position: center;
}

.imgContainer:nth-child(1){
    background-image: url(./Assets/Images/card1.png);
    transform: translate(-80%,-60%) rotate(-15deg);
}
.imgContainer:nth-child(2){
    background-image: url(./Assets/Images/card2.png);
    transform: translate(-40%,-50%) rotate(-5deg);
}
.imgContainer:nth-child(3){
    transform: translate(-10%,-35%) rotate(-2deg);
    background-image: url(./Assets/Images/card3.png);
}

.imgContainer:hover{
    filter: grayscale(0) drop-shadow(10px 10px 10px #000000c9);
    transition: all cubic-bezier(0.445, 0.05, 0.55, 0.95) 1s;
}

.work{
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding-top: 120px;
    background-color: #F2F2F2;
}

.work::before{
    content: "";
    width: 100%;
    height: 150px;
    top:-10vh;
    left: 0%;
    position: absolute;
    transform: rotate(180deg);
    background-size: cover;
    background-image: url(./Assets/Images/rip.f6d7c4dd.svg);
}

.service_info{
    margin: 15vh 5vw 15vh 15vw;
    padding: 6vh 4vw 6vh 0vw;
    border-bottom: 1px solid  #555555;
}

.arrow_container{
    top: 23%;
    left: 7%;
    width: 6vw;
    height: 6vw;
    position: absolute;
}

.arrow_container img , .arrow2_container img {
    width: 100%;
    height: 100%;
}

.work h1.service{
    color: #383838;
    font-size: 1.5vw;
    text-transform: uppercase;
}

.work h5.service{
    padding-bottom: 4vh;
    color: #383838;
    text-transform: uppercase;
}

.work h5.service span {
    color: #383838;
    font-family: Mazius-Extraitalic;
}

.work_header{
    display: flex;
    align-items: center;
    padding: 6vh 4vw 6vh 0vw;
    margin: 15vh 5vw 15vh 15vw;
    /* work here later for svg morph */
    justify-content: space-between;
}

.count{
    font-size: 2vw;
    font-weight: 500;
}

.work_header h1 span {
    color: #14CF93;
    font-weight: 500;
    font-size: 8vw;
    font-family: Mazius-Extraitalic;
}

.work_header h1{
    color: #383838;
    display: flex;
    align-items: baseline;
    font-size: 8vw;
}

.arrow2_container{
    width: 8vw;
    height: 8vw;
}

.work_images_wrapper{
    width: 100%;
    position: relative;
}

.img_container_1{
    width: 55%;
    overflow: hidden;
    border-radius: 5vw;
}

.img_container_1 img {
    width: 110%;
}